{
    "presets": [
        ["@babel/preset-env",{
            "useBuiltIns": "usage", // 按需加载polyfil
            "corejs": 3
        }]
    ],
    "plugins": ["@babel/plugin-syntax-dynamic-import"]
}
